.category-section {
  background-image: url('https://cdn.pixabay.com/photo/2016/11/29/04/17/bookshelf-1869616_1280.jpg');
  background-size: cover;
  background-position: center;
  padding: 60px 20px;
  text-align: center;
}

.category-title{
  font-size: 2.5rem;
  color: #fff;
  font-family: Bona Nova;
  /* font-weight: bold; */
  color: black;
  margin-bottom: 40px;

}

.category-book-grid {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-items: center;
}

.category-book-card {
  background-color: rgba(141, 210, 213, 0.3);
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  max-width: 200px;
  transition: transform 0.3s ease;
}

.book-card:hover {
  transform: scale(1.05);
}

.book-image {
  width: 150px;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.book-title {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 10px 0 5px;
}

.book-author {
  font-size: 0.9rem;
  color: #555;
}

.book-price {
  font-size: 1rem;
  font-weight: bold;
  color: #e67e22;
  margin-top: 8px;
}